#zone-duree {
    background-color: white;
    border: 2px dashed var(--color-secondary);
    /* Bordure en pointillés pour les zones de dépôt */
    border-radius: 12px;
    padding: 10px;
    width: 154px;
    /* Légèrement plus large que la carte (140px + marge) */
    height: 88px;
    /* Légèrement plus haut que la carte (80px + marge) */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 5px;
    user-select: none;
}

p {
    font-family: var(--font-family-body);
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    color: var(--color-text-light);
    /* Couleur de texte plus claire */
}