#zone-duree {
    background-color: white;
    border: 2px dashed #A8BDCE;
    /* Dashed border for drop zones */
    border-radius: 12px;
    padding: 10px;
    width: 154px;
    /* Slightly larger than card width (140px + some padding) */
    height: 88px;
    /* Slightly larger than card height (80px + some padding) */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    user-select: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    color: #666666;
    /* Lighter text color */
}