#zone-duree {
    background-color: white;
    border: 2px dashed #A8BDCE;
    /* Bordure en pointillés pour les zones de dépôt */
    border-radius: 12px;
    padding: 10px;
    width: 154px;
    /* Légèrement plus large que la carte (140px + marge) */
    height: 88px;
    /* Légèrement plus haut que la carte (80px + marge) */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 5px;
    user-select: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    color: #666666;
    /* Lighter text color */
}