#carte-mdp {
    background-color: #507693;
    border: 2px solid #507693;
    border-radius: 12px;
    padding: 10px;
    width: 150px;
    /* Much smaller width */
    height: 80px;
    /* Much smaller height */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    cursor: grab;
    user-select: none;
    margin: 5px;
    margin: 5px;
    /* Reduced margin */
}

#carte-mdp:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: grab;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    color: #333333;
}