:host {
    position: sticky;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: 2px solid #507693;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
}

nav:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: auto;
}

.center-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.center-links li {
    list-style: none;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.right-link {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0056b3;
}

.link-icon {
    height: 30px;
    width: auto;
    border-radius: 4px;
}