/* Vous pouvez ajouter des styles globaux à ce fichier, et aussi importer d'autres fichiers de style */
/* --- MISE EN PAGE GLOBALE --- */
html,
body {
    scroll-padding-top: 150px;
    scroll-behavior: smooth;
    margin: 0;
}

:root {
    /* --- PALETTE DE COULEURS --- */
    --color-primary: #507693;
    /* Bleu Ardoise - Logo Face Sombre */
    --color-secondary: #A8BDCE;
    /* Gris Céleste - Logo Face Claire */
    --color-accent: #0056b3;
    /* Bleu Action - Boutons & Liens */

    --color-text-main: #333333;
    /* Gris Anthracite */
    --color-text-light: #666666;
    /* Gris moyen pour sous-titres */
    --color-text-inverse: #FFFFFF;
    /* Blanc pour texte sur fond bleu */

    --bg-body: #FFFFFF;
    /* Blanc Pur */
    --bg-section-alt: #F4F6F8;
    /* Gris très léger pour alternance */
    --color-primary-hover: #0080b3;
    /* Bleu un peu plus vif pour le hover */
    --color-border-light: #e0e0e0;
    /* Gris clair pour les bordures */

    --color-danger: #d9534f;
    --color-danger-hover: #c9302c;

    /* --- TYPOGRAPHIE --- */
    /* Nécessite l'import Google Fonts correspondant */
    --font-family-heading: 'Montserrat', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;

    /* --- COMPOSANTS UI --- */
    --border-radius-sm: 4px;
    --border-radius-md: 6px;
    /* Standard pour boutons */
    --border-radius-lg: 12px;
    /* Pour les cartes (Cards) */

    --box-shadow-card: 0 4px 6px rgba(0, 0, 0, 0.08);
    --box-shadow-hover: 0 8px 12px rgba(0, 0, 0, 0.15);

    --transition-speed: 0.3s ease;
}

body {
    margin: 0;
    font-family: var(--font-family-body);
}

/* Exemple de classe utilitaire pour un Bouton Primaire */
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
    padding: 10px 20px;
    border-radius: var(--border-radius-md);
    border: none;
    font-family: var(--font-family-heading);
    font-weight: 600;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.btn-primary:hover {
    background-color: var(--color-accent);
}